<mat-card class="card-item">
  <li class='course-list-item'>
  <section>
    <div class="course-info-section">
      <div>
        <mat-card-title>
          {{course.title}}
        </mat-card-title>
        {{course.id}}
        {{course.duration}} min
      </div>
      <time class="course-date">
        {{course.creatingDate}}
      </time>
    </div>
    <mat-card-content>
      {{course.description}}
    </mat-card-content>
  </section>
  <div class="course-button-group">
    <button mat-raised-button class="course-button">Edit</button>
    <button mat-raised-button
            (click)="onDelete(course.id)"
            class="course-button">
      Delete
    </button>
  </div>
</li>
</mat-card>
