.course-list-item{
  border: 1px solid #aaa;
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: flex;

}
.course-button-group{
  display: flex;
  flex-direction: column;
}
.course-info-section{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
