<div class="chooser-block">
  <div class="chooser-header">Authors</div>
  <div class="chooser" [ngClass]="{'red-border': !isValid && isTouched}">
    <ul class="chooser-list">
      <li *ngFor="let author of pureChooserValue ">
        <!-- <input
          type="checkbox"
          (click)="propagateTouch()"
          [checked]="author.checked"
          (change)="onCheckboxChange(author)"> -->
        <span>{{author}}</span>
        <span (click)="onMinusClick(author)">-</span>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>

  </div>
  <div>
    <ul class="chooser-list">
      <li *ngFor="let author of getAuthors | async ">
        <!--<input-->
          <!--type="checkbox"-->
          <!--(click)="propagateTouch()"-->
          <!--[checked]="author.checked"-->
          <!--(change)="onCheckboxChange(author)">-->
        <span>{{author}}</span>
        <span (click)="onPlusClick(author)">+</span>
      </li>
    </ul>
  </div>
</div>
