.component-border {
  display: flex;
  justify-content: space-between;
  border: .05rem solid #aaa;
  border-radius: .1rem;
}

.logo-image {
  width: 7rem;
  height: auto;
}

.logo-wrapper {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.logo-text {
  align-self: center;
}
