/*.login-section{
  position:absolute;
  width:20rem;
  height:20rem;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border:1px solid #999;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
/*}**/
.login-section{
  width:50%;
  background: yellowgreen;
  margin: 0 auto;
}
.login-section__label{
  display: block;
  padding:2rem;
}
