<section class="login-section">
  <label for="login" class="login-section__label">
    Login
    <mat-form-field class="example-full-width">
      <input matInput placeholder="" [(ngModel)]="currentLogin" id="login">
    </mat-form-field>
  </label>
  <label for="password" class="login-section__label">
    Password
    <mat-form-field class="example-full-width">
      <input matInput placeholder="" [(ngModel)]="currentPassword" type="password" id="password">
    </mat-form-field>
  </label>

  <button mat-raised-button (click)="logIn()">Enter</button>
</section>
