<ul>
  <div *ngIf="!searchValue">
      <app-course-item *ngFor="let course of coursesList$ | async "
      [course]="course"
      (itemDeleted)="deletedId = $event;onDelete($event)">
    </app-course-item>
  </div>
  <div *ngIf="searchValue">
    <app-course-item *ngFor="let course of coursesList$ | async "
                     [course]="course"
                     (itemDeleted)="onDelete($event)">
                     | sortByDate
    </app-course-item>
  </div>
</ul>
<button (click)="onCourseUploadClick()">Show more courses</button>
