<ul>
  <ng-container *ngIf="!searchValue">
    <app-course-item *ngFor="let course of coursesList | sortByDate"
                     [course]="course"
                     (itemDeleted)="deletedId = $event;onDelete($event)">
    </app-course-item>
  </ng-container>
  <ng-container *ngIf="searchValue">
    <app-course-item *ngFor="let course of filteredList | sortByDate"
                     [course]="course"
                     (itemDeleted)="onDelete($event)">
    </app-course-item>
  </ng-container>
  <mat-card *ngIf="!coursesList.length" class="no-data">
    No data. Feel free to add new course
  </mat-card>
</ul>
<button #uploadButton>Show more courses</button>
